services:
  frontend:
    image: frontend
    build:
      dockerfile: Dockerfile
      context: "./frontend"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    ports:
      - 3000:3000
    stdin_open: true
    restart: always
    networks:
      - react-express
    depends_on:
      - backend

  backend:
    restart: always
    image: backend
    build:
      dockerfile: Dockerfile
      context: "./backend"
    ports:
      - 5000:5000
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongo
    networks:
      - express-mongo
      - react-express

  mongo:
    restart: always
    image: mongo:4.2.0
    volumes:
      - ./user/temp/data:/data/db
    networks:
      - express-mongo
    expose:
      - 27017

networks:
  react-express:
  express-mongo:
